@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.photo-container {
  position: relative;
  background: #1C3B8D;
  background-size: cover;
  height: 180px;
  border-radius: 5px 5px 0 0;
}

.profile {
  position: absolute;
  color: #21355E;
  min-width: 106px;
  min-height: 92px;
  bottom: -39px;
  left: 178px;
  border-radius: 50%;
  border: 3px solid white;
  padding: 46px;
  background-color: #DCE7FE;
  box-shadow: 0 3px 26px rgba(0, 0, 0, 0.7);
}

.profile-name {
  font-size: 25px;
  margin-top: 65px;
  font-family: Montserrat;
  font-weight: bold;
}

.about {
  margin-top: 5px;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: bold;
  color: #6e4398;
}

.btn {
  margin: 30px 15px;
  background: #716EDF;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #716EDF;
  font-weight: bold;
  font-family: Montserrat;
  cursor: pointer;
  color: #222;
  transition: 0.2s;
}

.btn:last-of-type {
  background: transparent;
  border-color: #716EDF;
  color: #716EDF;
}

.btn:hover {
  background: #716EDF;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 80%;
  max-width: 500px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}